.profile-update-page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #F3EED9;
  font-family: Arial;
  padding-top: 80px;
}

/* RIGHT SIDE WRAPPER */

.profile-right-side{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

/* PAGE HEADING */

.page-heading{
  font-size:32px;
  font-weight:700;
  margin-bottom:5px;
  text-align:center;
}

/* FORM CARD */

.profile-form-card{
  background:white;
  padding:30px;
  width:100%;
  max-width:420px;
  border-radius:8px;
  box-shadow:0 6px 18px rgba(0,0,0,0.15);
  margin-top:35px;
}

/* FORM LAYOUT */

.profile-form-card form{
  display:flex;
  flex-direction:column;
  gap:12px;
}

/* LABEL */

.profile-form-card label{
  font-size:14px;
}

/* INPUT FIELDS */

.profile-form-card input[type="text"],
.profile-form-card input[type="email"],
.profile-form-card input[type="file"]{
  width:100%;
  padding:9px;
  border:1px solid #ccc;
  border-radius:4px;
  font-size:14px;
}

/* PROFILE IMAGE */

.image-preview{
  display:flex;
  justify-content:center;
  margin-bottom:15px;
}

.image-preview img{
  width:100px;
  height:100px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #e5e5e5;
}

/* BUTTONS */

.update-btn,
.password-btn,
.cancel-btn{
  width:100%;
  border:none;
  color:white;
  padding:10px;
  margin-top:10px;
  cursor:pointer;
  border-radius:4px;
  font-weight:500;
  font-size:14px;
}

.update-btn,
.password-btn{
  background:#147E9E;
}

.cancel-btn{
  background:#147E9E;
}



